
.portfolio-header {
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    background: #fff;
    padding: 5px 5px 5px 5px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 50px;
    
}


.menu ul {
    list-style: none;
    display: flex;
}

li {
    padding: 0 5px;
    margin-top: 10px;
    margin-right: 10px;
    font-size: 20px;
}


a:link, a:visited, a:hover, a:active {
    color: #555555;
    text-decoration: none;
}


a::after {
    border-bottom: solid 2px #f4b6d2;
    bottom: 0;
    content: "";
    display: block;
    transition: all 0.3s ease;
    width: 0;
}

a:hover::after {
    width: 100%;
}




.about {
    background-image: url(flower.jpg);
    background-color: rgba(255, 255, 255, 0.678);
    background-blend-mode: lighten;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: #555555;
    margin-top: 50px;
    text-align: center;
}



#aboutPage {
    font-size: 80px;
    opacity: 0;

    animation-name: fadeInTitle;
    animation-duration: 1.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeInTitle {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.aboutDetail {
    animation-name: fadeIn;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
    font-size: 20px;

}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
.hobbie {
    margin-top: 20px;
    justify-content: space-between;
}
    .hobbie h3 {
        
        font-size: 30px;
        padding: 0;
    }

   .hobbietext{
      margin:5px 0px 5px 5px;
   }


   /* 
       以下スキルページ
   */




.header {
    position: fixed;
    display: inline-block;
    margin: 0 10px;
    background-color: #e597b2;
    width: auto;
    height: 50px;
}

    .header table {
        margin-left: 10px;
        border-style: none;
    }


.skills {
    background-image: url("laptop.jpg");
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.658);
    background-blend-mode: lighten;
    color: #555555;

   
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
}

.typing {
    display: flex;
    justify-content: center;
}

    .typing p {
        color: #555555;
        font-size: 6em;
        font-weight: 800;
        letter-spacing: 10px;
        overflow: hidden;
        white-space: nowrap;
        border-right: 8px solid;
    }

    .typing #skills {
        width: 0;
        animation: type 6s steps(6, end) 1000ms infinite;

    }

@keyframes type {
    to {
        width: 400px;
    }
}





.skills table {
    margin: auto;
    border-style: none;
    width: 1000px;
}




.skills i {
    display: inline-block;
    margin-left: 5px;
}

.skills span {
    display: inline-block;
    margin-left: 2px;
    font-size: 50px;
}

#jsp {
    display: inline-block;
    margin-left: 2px;
    font-size: 30px;
}

.skills p {
    display: inline-block;
    margin-left: 5px;
}



p {
    padding-right: 10px;
}
