* {
    text-align: center;
    font-family:'Segoe UI';
}
body {
    background-image:url("laptop.jpg");
    background-size:cover;
    background-color:rgba(255, 255, 255, 0.658);
    background-blend-mode:lighten;
    color:#555555;
}
.container{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 200px 1fr;
}
.header {
    position:fixed;
    display:inline-block;
    margin:0 10px;
    grid-column: 200px;
    background-color:#e597b2;
    width:auto;
    height:50px;
}
.header table {
    margin-left:10px;
    border-style:none;
}


.skills{
  grid-column: 1fr;
  text-align: center;
  margin-top:0;
  margin-bottom:10px;
}

.typing {
   
        display: flex;
        justify-content: center;
      }
      
      .typing p {
        color: #555555;
        font-size: 6em;
        font-weight: 800;
        letter-spacing: 10px;
        overflow: hidden;
        white-space: nowrap;
        border-right: 8px solid;
      }
      
      .typing .skills {
        width: 0;
        animation:
          type 1s steps(6, end) 1000ms forwards;
      }
      
      @keyframes type {
        to {
          width: 400px;
        }
      }
   
       
    


.skills table {
    margin:auto;
    border-style: none;
    width:1000px;
}




.skills i {
    display:inline-block;
    margin-left:5px;
   

}
.skills span {
    display:inline-block;
    margin-left:2px;
    font-size: 50px;
}
#jsp {
    display:inline-block;
    margin-left:2px;
    font-size: 30px;
}
.skills p {
    display:inline-block;
    margin-left:5px;
}
ul {
    padding: 0;
    margin-top:150px;
    
}
li{
    
    display:inline;
    grid-column:1;
    margin-left:30px;
    margin-bottom: 3px;
    height:80px;
    width:100%;  
    list-style:none;
} 

p {
    padding-right:10px; 
}




a:link,a:visited {
    display:inline-block;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#555555;
    font-size:35px;
    outline: none;
    text-decoration: none;
    margin:3px;
    padding:5px 5px;
}
a:hover {
    background-color:#95859c;
    padding:5px 5px;
    color:white;
   
}